@charset "UTF-8";
/**
 * トップページ
 */

/* ヘッダ
----------------------------------------------- */
#topMain{
	height: 295px;
	width: 900px;
	background-image:url(../img/img_top_main.jpg);
	background-repeat: no-repeat;
	background-position: center right;
	margin-top: 5px;
}

#topMain #about{
	padding-top: 40px;
	margin-left: 30px;
	font-size: large;
}

#topMain #about strong{
	font-size: x-large;

}

#topMain p.discription{
	font-size: medium;
	width: 450px;
	padding-left: 30px;
	padding-top: 70px;
	}

/* twitter
----------------------------------------------- */

#contents #contentsBody div.tweet ul li{
	background-image: none;
}

.widget-fb_likebox{
	margin-top: 0;
}
